
.paragraph1 {
    float: left;
    width: 40vw;
    height: 100%;
    margin: 8vw;
    font-size: 18px;
}

#aboutMeCard {
    height: 60vh;
    border: 5px;
    border-style: solid;
    margin-top: 15vh;
    float: left;
    width: 45vh;
    padding: 0;
    margin-left: 4vw;
}

.aboutContainer {
    width: 100%;
}

