
.paragraph1, .paragraph2 {
    color: rgba(206, 206, 240, 0.9);
    font-size: 12px;
    text-align: center;
    padding-right: 50px;
    padding-left: 50px;
}
.imageBox {
    position: relative;
    width: 75%;
    float: left;
    height: 50%;
    left: 12.5%;
    box-shadow: 5px;
    
}

#aboutMeCard {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border-style: solid;
    padding-left: 0;
    padding-right: 0;
    border-color: black;
    border-width: 1px;
    width: 20%;
    height: 20%;
}

.aboutContainer {
    width: 100%;
}




.paragraph1, .paragraph2 {
    padding-left: 0;
    padding-right: 0;
}