
.paragraph1 {
    float: left;
    width: 40%;
    height: 100%;
    margin-top: 22.5vh;
    margin-right: 5vw;
    margin-left: 5vw;
    font-size: 18px;
}
.centerImage {
    width: 50%;
    height: 100%;
}
.aboutMeCard {
    height: 80%;
    border-style: solid;
    margin-top: 10%;
    float: left;
    padding: 0;
    margin-left: 5%;
}

.aboutContainer {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .paragraph1 {
        width: 30vw;
        font-size: 15px;
    }
    /* .aboutMeCard {

    } */
  }

  @media only screen and (max-width: 900px) {
    .paragraph1 {
        margin-top: 30vh;
        width: 30vw;
        font-size: 12px;
    }
    /* .aboutMeCard {

    } */
  }

  @media only screen and (max-width: 800px) {
    .paragraph1 {
        margin-top: 30vh;
        width: 35vw;
        font-size: 12px;
    }
    /* .aboutMeCard {

    } */
  }
  @media only screen and (max-width: 420px) {
    .paragraph1 {
        margin-top: 2vh;
        width: 95%;
        margin-left: 2.5%;
        font-size: 13px;
    }
    /* .aboutMeCard { */
        /* margin-left: 3%;
        margin-bottom: 3%;
        margin-top: 5%;
        width: 95%;
        max-width: 95%;
        max-height: 80%;
        height: 40%; */
    /* } */
  }