#homePic {
  width: 100%;
  position: fixed;
  z-index: -1;
  pointer-events: none;
  left: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.5s;
}

#myName {
  position: relative;
  top: 40vh;
  width: 65%;
  margin-left: 30%;
  text-align: left;
  float: left;
  transition: 0.2s;
  font: 38px Georgia, serif;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

#myJob {
  transition: 0.1s;
  cursor: auto;
  font-weight: 800
}

.inactiveCursor {
  animation-name: blink;
  animation-iteration-count: 1;
  animation-duration: 200ms;
  animation-delay: 300ms;
}

.homeArrowContainer {
  width: 100vw;
  float: left;
  text-align: center;
  position: relative;
  top: 72vh;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 750ms;
  animation-delay: 0ms;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation-direction: alternate;
}
.homeArrow,
.homeArrow2 {
  position: inherit;
  top: 5px;
  display: inline-block;
  padding: 3px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border: solid;
  border-radius: 3px;
  border-width: 0 3px 3px 0;
}
.homeArrow {
  left: 0px;
}
.homeArrow2 {
  left: 15px;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media only screen and (max-width: 1000px) {
  #myName {
    font-size: 30px;
    margin-left: 40%;
  }
}
@media only screen and (max-width: 800px) {
  #myName {
    font-size: 22px;
    margin-left: 45%;
  }
}
@media only screen and (max-width: 420px) {
  #myName {
    font-size: 20px;
    margin-left: 15%;
  }

  .jobDescriptionContainer {

  }

  #homePic {
    height: 120vh;
  }
}
