/* .insideTheComputer {
    position: relative;
    transition: 1s;
    opacity: 1;
    animation: ani 2s linear reverse infinite;
    animation-delay: 1s;
    ;
}
.insideTheComputer2 {
    background: red;
    transition: 3s;
    opacity: 0;
    animation: ani2 2s linear reverse infinite;
}
@keyframes ani {
    0% {transform: translate(0,-50px)}
    50% {transform: translate(0,50px)}
}
@keyframes ani2 {
    0% {transform: translate(0,-50px)}


} */