.navArrow {
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 1vw;
    margin-right: 1vw;
}
.slideshow {
    margin-top: 5vh
}
.portfolioItemsContainer {
    width: 180vw;
    text-align: center;
    height: 70vh;
    top: 5vh;
    position: relative;
    margin-top: 0vh;
    transition: 0.5s
}

.portfolioLeftArrow, .portfolioRightArrow {
    border: solid #bbb;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    width: 30px;
    height: 30px;

}

.portfolioLeftArrow:hover, .portfolioRightArrow:hover {
    border: solid black;
    border-width: 0 6px 6px 0;
}
.portfolioRightArrow {
    transform: rotate(-45deg);
}
.portfolioLeftArrow {
    transform: rotate(135deg);
}


.portfolioLeftArrowBox, .portfolioRightArrowBox {
    width: 20%;
    cursor: pointer;
}

.portfolioLeftArrowBox {
    float: left;
}

.portfolioRightArrowBox {
    float: right
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 1vw;
    margin-right: 1vw;
}
.debugger {
    position: fixed;
    top: 100px;
    left: 100px;
    color: red;
    z-index: 9999;
}

.dot:hover {
    background-color: black;
    border-radius: 5px;
}
.dotSelected {
    background-color: red
}

.portfolioNavigation {
    width: 100%;
    float: left;
    position: relative;
    z-index: 100;
}

.opaqueCard {
    opacity: 0.7;
}
.unselected {
    opacity: 0.4;
    display: none;
    /* top: 5vh; */
    transform: translateY(5vh);
    transition: 0.5s;
    transition-duration: 0.5s;
    pointer-events: none;
}


/* ----------------------------------------------------------------------------------------------------------------------------------- */
.portfolioContainer {
    width: 25vw;
    height: 25vw;
    border-style: solid;
    border-width: 1vw;
    border-color: black;
    margin: 2.5vw;
    background: white;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    transition: 0.5s;
    position: relative;
}
.portfolioImage {
    transition: 0.5s;
    margin: 0.5vw;
    width: 22vw;
    height: 22vw;

}
.hiddenContainer {
    position: relative;
    display: inline-grid;
    top: -24vw;
    left: -1vw;
    width: 25vw;
    height: 25vw;
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}


.portfolioTitle {
    transition: 0.5s;
    color: black;
    position: relative;
    top: 10px;
    margin: 0;

}
.portfolioTitle2 {
    transition: 0.5s;
    color: black;
    pointer-events: none;
    margin-bottom: 0;
}

.highlighted {
    opacity: 1;
}
.imgHighlighted {
    filter: saturate(10%);
    opacity: 0.2;
}
.aws-btn {
    --button-default-font-size: 8px;
    margin: 10px;
}

.infoPanel {
    visibility: visible;
    opacity: 0;
    z-index: 999;
    height: 70vh;
    position: fixed;
    top: 12.5vh;
    width: 60vw;
    transition: 0.5s;
    background: black;
    left: 20vw;
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: gray;
}
.infoPanelDescription {

}
.infoPanelListItem {
    font-size: 20px;
    text-align: left;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */