.middle {
    height: 200px;
}

.fab {
    height: 200%;
    width: 200%;
}

.contactParagraph {
    padding-top: 25vh;
    width: 50vw;
    margin-left: 22.5vw;
}

@media only screen and (max-width: 450px) {

    .navButton {
        margin-left: 0px;
        margin-right: 0px;
    }
    .sideNavButton {
        bottom: 2.6vh;
    }

}

@media only screen and (max-width: 420px) {
    
    .contactContent {
    }
    .contactParagraph {
        padding-top: 20vh;
        font-size: 16px;
    }
    .contactForm {
        text-align: center;
    }
    .formInput {
        width: 80%;
        height: 5vh;
        font-size: 15px;
                display: inline-block;
    }
    .formButton {
        font-size: 15px;
        display: block;
        width: 20vw;
        margin-left: 37.5vw;
    }

}

@media only screen and (max-width: 330px) {


}