
html, body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(197, 193, 218);
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: 0 auto;
}

.visible {
  visibility: visible
}
.hidden {
  visibility: hidden;
}
.initial {
  display: initial
}
.none {
  display: none
}

/* --------------------------SCROLLBAR --------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #43101087;
}
::-webkit-scrollbar-thumb {
    background: rgba(31, 67, 78, 0.65);
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* ---------------------------------------END SCROLLBAR ----------------------------------------- */

