
html, body {
  font-family: 'Open Sans', sans-serif;
  color: rgb(197, 193, 218);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}
.debugger {
  position: fixed;
  left: 100px;
  right:100px;
}

body {
  
  position: relative;
  top: 0px;
  width: 100%;
  text-align: center;
  padding: 0 auto;
  background: rgba(30, 85, 95);
}

.initial {
  display: initial;
  opacity: 1;
  transition: "1s"
}
.none {
  display: none;
  opacity: 0;
  transition: "1s"

}

/* --------------------------SCROLLBAR --------------------------------------------------------- */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #43101087;
}
::-webkit-scrollbar-thumb {
    background: rgba(31, 67, 78, .4);
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* ---------------------------------------END SCROLLBAR ----------------------------------------- */

