.mainWindow {
    margin-top: 5vh;
    width: 100%;
    height: 95vh;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 40px;
    transition: 1s;
    overflow-y: scroll;
    position: relative;
    z-index: 99;
    scroll-behavior: smooth
    
  }

.home, .about, .contact, .portfolio, .services {

  height: 100vh;
  transition: 0.5s
}

.about,.contact,.portfolio,.services {
  position: fixed;
  top: 4%;
  width: 90%;
  height: 85%;
  margin-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}
.home {
  z-index: 10
}
.about {
  z-index: 14;
  background: gray;
  padding: 10vh;

}
.services {
  z-index: 13;
  background: blue;
}
.portfolio {
  z-index: 22;
  background: red;
}
.contact {
  z-index: 11;
  background: cyan;
}

.dummyBox {
  height: 5000px;
}
.testVar {
  position: fixed;
  color: red;
  z-index: 999;
}
.testVar2 {
  position: fixed;
  top: 100px;
  color: red;
  z-index: 999;
}
#homeRef, #aboutRef, #servicesRef, #portfolioRef, #contactRef {
  position: relative;
  width: 90%;
  height: 1000px;
  display: block;
}
#demoRef {
  position: relative;
  width: 100%;
  height: 0px;
  display: block;
}
#homeRef {
  top: 0;
}
#aboutRef {
  top: 1000;
}
#servicesRef {
  top: 2000;
}
#portfolioRef {
  top: 3000;
}
#contactRef {
  top: 4000;
}


#mainWindow::-webkit-scrollbar { width: 0 !important }
#mainWindow {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}