.mainWindow {
    margin-top: 0vh;
    width: 100%;
    height: 100vh;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 40px;
    transition: 1s;
    overflow-y: scroll;
    position: relative;
    z-index: 99;
    scroll-behavior: smooth;
    overflow-x: hidden
    
  }

/* .home, .about, .contact, .portfolio, .services {

} */

.about,.contact,.portfolio,.services {
  position: relative;
  width: 95vw;
  height: 91vh;
  margin-top: 7vh;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  border-style: solid;
  border-width: 1.5px;
  border-color: black;
  overflow: hidden;

}

.backgroundAbout, .backgroundServices, .backgroundPortfolio, .backgroundContact {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -10;
  /* transition: 1s; */
}
.backgroundSidenav {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  background-size: 100%;
  background-attachment: fixed;
  z-index: -10;

  transition: 1s;


}

#home {
  z-index: 10;
  height: 95vh;
}
#about {
  z-index: 14;

}
#services {
  z-index: 13;

}
#portfolio {
  z-index: 22;

}
#contact {
  z-index: 11;
  overflow-y: hidden;

}

.dummyBox {
  height: 5000px;
}
.testVar {
  position: fixed;
  color: red;
  z-index: 999;
}
.testVar2 {
  position: fixed;
  top: 100px;
  color: red;
  z-index: 999;
}
.windowRef {
    width: 100%;
    height: 100%;
    padding-top: 0.1vh;
}


/* #mainWindow::-webkit-scrollbar { width: 0 !important } */
#mainWindow {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

@media only screen and (max-width: 420px) { 
  .backgroundSidenav {

    background-size: 100vw 120vh;
  
  }
  .backgroundAbout, .backgroundServices, .backgroundPortfolio, .backgroundContact {

    background-size: 100vw 120vh;

  }
}