.contact {
    transition: 1s
}.middle {
    height: 200px;
    transition: 1s
}
.contactContent {
    position: relative;
    z-index: 10;
}
.fab {
    height: 200%;
    width: 200%;
    transition: 1s
}
.socialMediaDescription {
    font-weight: 600
}
.contactParagraph {
    padding-top: 25vh;
    width: 50vw;
    margin-left: 22.5vw;
    font-size: 22px;
    transition: 1s;
    position: relative;
    z-index: 10;
}
.socialMediaButtons {
    transition: 1s
}

@media only screen and (max-width: 450px) {

    .navButton {
        margin-left: 0px;
        margin-right: 0px;
    }
    .sideNavButton {
        bottom: 2.6vh;
    }

}

@media only screen and (max-width: 420px) {

    .contactParagraph {
        padding-top: 30vh;
        width: 85vw;
        margin-left: 5vw;
        font-size: 16px;
    }
    .contactForm {
        text-align: center;
    }
    .formInput {
        width: 80%;
        height: 5vh;
        font-size: 15px;
                display: inline-block;
    }
    .formButton {
        font-size: 15px;
        display: block;
        width: 20vw;
        margin-left: 37.5vw;
    }

}

@media only screen and (max-width: 330px) {

    .contactParagraph {
        padding-top: 30vh;
        width: 90vw;
        margin-left: 2.5vw;
    }
}